{% load crispy_forms_tags %}
   <!-- skillpostform -->
<div class="container mt-2">
    {% for skill in skills %}
    <blockquote class="blockquote">
        <small class="text-muted"><cite title="Source Title"><small style="color:skyblue;">creator</small>. <a href="{% url 'profile' skill.user.username %}">{{skill.user}}</a> <span class="badge badge-secondary"> {{skill.timestamp | timesince}} ago</span></cite></small>
        <p class="mb-0"><small>{{skill.post}}</small></p>
    </blockquote>


<p class="text-muted"><small>Replies ({{skill.replies.count}})</small></p>
<p>
  <a class="btn btn-sm btn-outline-primary" data-toggle="collapse" href="#replyBox{{skill.id}}" role="button" aria-expanded="false" aria-controls="replyBox{{skill.id}}">
    Reply
  </a>
</p>

<div class="collapse" id="replyBox{{skill.id}}">
  <div class="card card-body">
    <div class="replied-skills container mt-2">
        {% for reply in skill.replies.all %}
        <blockquote class="blockquote">
        <p class="mb-0"><small>{{reply.post}}</small></p>
            {% if reply.user == skill.user %}
        <footer class="blockquote-footer"><small><cite title="Source Title"><small style="color:skyblue;">creator</small>. {{reply.user }} | {{reply.timestamp | timesince}} ago</cite></small></footer>
            {% else %}
            <footer class="blockquote-footer"><small><cite title="Source Title">{{reply.user }} | {{reply.timestamp | timesince}} ago</cite></small></footer>
        </blockquote>
        {% endif %}
        {% endfor %}
        <div class="mt-2 form-group row">
            <form method="POST" class="skill-form" action=".">
                {% csrf_token %}
                <input type="hidden" name="skill_id" value="{{skill.id}}">
                 {{form | crispy}}
                 <div class="btn">
                     {% if user.is_authenticated %}
                     <button class="btn btn-sm btn-outline-primary" type="submit"><small>Reply</small></button>
                     {% else %}
                     <button class="btn btn-sm btn-outline-primary" type="submit" disabled><small>Reply</small></button>
                         {% endif %}
         </div>
      </form>
        </div>
        </div>
</div>
</div>
      {% endfor %}

      <div class="form-group row">
    <div class="col-md-8 mb-4  mt-3 left  top">
      <form method="POST" class="skill-reply-form" action=".">
        {% csrf_token %}
         {{form | crispy}}
         <div class="btn">
             {% if user.is_authenticated %}
             <button class="btn btn-sm btn-primary" type="submit">Post</button>
             {% else %}
                 <button class="btn btn-sm btn-primary" type="submit" disabled>Post</button>
                 {% endif %}
         </div>
      </form>
    </div>
    </div>
    <!--endskillpostform-->
  </div>